<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name= "viewport" content="width=device-width, initial-scale=1.0">
    <title>Archer Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head
<body>
    <div class="headers"></div>
    <marquee direction="left"  behavior="scroll" scrollamount="15" ><h1>Welcome to Masjied Amiena Youth Archery Club's Registeration<h1></marquee>


        <br><br><br><br><br>
    </body>
        <a href={% url 'login'%} "Login.html" class="btn1">Login</a>


    <a href={% url 'register'%} "Register.html" class="btn2">Register</a>

    <html>
