<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name= "viewport" content="width=device-width, initial-scale=1.0">
        <title>Archer's Social Page</title>
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
        {% load static %}
        <link rel="stylesheet" href="{% static 'Social.css'%}">
        <button>
            <a href="{% url 'logout' %}" class=btn>Logout</a>
            </button>
    </head>
    <body>
        <div class="headers">
<h1>Welcome to MAYAC Social Page</h1>

</html>